<manifest package="com.timberx.powerampclone"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Permissions for Android 13+ and older -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <application
        android:allowBackup="true"
        android:label="TimberX"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
            android:name=".service.PlayerService"
            android:exported="false"/>
    </application>
</manifest>
